<div class="row">
  <h2>Welcome to NOTES</h2>
  <h4>To create and manage your notes, please sign in</h4>
  <%= button_to "Sign In", login_path, method: :get, class: "btn btn-outline-primary mt-3" %>
</div>