@import "bootstrap";

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  font-family: 'Roboto Mono', monospace;
  text-align: center;
}

h1 {
  display: block;
  width: 100%;
  padding: 0;
  margin: 0 auto 2rem;
  font-size: 3.0rem;
  line-height: 3.2rem;
  color: #000000;
  text-align: center;
  font-weight: 400;
  text-transform: uppercase;
}

#error_explanation {
  background-color: rgb(247, 220, 220);
  border-radius: 5px;
  padding: 1.0rem 0.5rem 0.5rem; 

  li {
    list-style-type: none;
    color: red;
  }
}

#flash_notice {
  color: rgb(19, 146, 19);
  border-radius: 5px;
  padding: 1.0rem;
}

a.nav-link:hover {
  color: white;
  background-color: #0D6EFD;
}

#flash_alert {
  background-color: rgb(247, 220, 220);
  border-radius: 5px;
  padding: 1.0rem 0.5rem 0.5rem; 
}

.footer {
  .wrap{
    max-width: 1450px;
    padding: 20px 10px;
    margin: 0 auto;
  }
}